.row-content {
    margin: 0 auto;
    padding: 15px 0px;
}

.tab-header {
    padding-bottom: 20px;
}

label {
    font-weight: normal;
}

.tax-checkbox {
    margin-top: 10px;
}

#statement_error {
    margin-top: 15px;
}
